*.RData
*.Rhistory

*.rds
*.RDS
*/*_cache/
*_cache/

*.gmt
*.pdf
*.xlsx
*.pptx
*.docx
*.txt
*.tsv
*.txt
*.png
*.jpg
*.jpeg
*.svg
*.html
*.htm

/data
*/*old/
old/
*/*_old/
_old/
